.env**

# audio bestanden niet op git plaatsen
**audio-fragmenten**
model_testing/output/pyannote/**
training_database/wavs/**
pyannote/results/audio/**

# extra files voor simple-diarizer niet op github
**pretrained_models**